@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  /* height: 100%; */
  box-sizing: border-box;
  background-image: url(../assets/imagem\ fundo\ 2.jpg);
  background-size: cover;
  color: #f6f6f6;
}
.cabecalho {
  padding: 2% 0% 0% 15%;
}
.cabecalho_menu {
  display: flex;
  gap: 80px;
}
.cabecalho_menu_link:hover {
  text-decoration-line: underline;
}
.cabecalho_menu_link {
  font-family: "Montserrat", serif;
  font-size: 24px;
  font-weight: 600;
  color: #22d4fd;
  text-decoration: none;
}
.titulo-destaque {
  color: #22d4fd;
}
.texto_destaque {
  color: #22d4fd;
}
.destaque_texto {
  color: #22d4fd;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.bloco-principal {
  padding: 5% 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.bloco__filho {
  width: 820px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.apresentacao__conteudo {
  font-size: 50px;
  font-family: "Roboto", serif;
  font-weight: 600;
  font-style: normal;
  font-optical-sizing: auto;
}
.apresentacao__conteudo_texto {
  text-align: justify;
  font-size: 24px;
  font-family: "Montserrat", serif;
  font-weight: "normal";
  font-optical-sizing: auto;
}

img {
  max-width: 30%;
  height: auto;
  box-shadow: 0px 0px 12px grey;
  filter: drop-shadow(0px 0px 12px grey);
  border-radius: 10px;
}
.apresentacao__links__subtitulo {
  font-family: "Krona-one", sans-serif;
  font-weight: 400;
  font-size: 24px;
}
.aprensentacao__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}
.apresentacao__links__links {
  display: flex;
  justify-content: center;
  gap: 16px;
  border: 5px solid #22d4fd;
  width: 360px;
  text-align: center;
  border-radius: 8px;
  font-size: 24px;
  padding: 21.5px 0;
  text-decoration: none;
  color: #f6f6f6;
  font-family: "Montserrat", serif;
  font-weight: 600;
}
.apresentacao__links__links:hover {
  background-color: #272727;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bloco_container {
  display: flex;
  justify-content: space-between;
  gap: 8%;
  padding: 80px;
  margin: 3%;
}

.lado_esquerdo {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.bloco_formacao {
  border: 5px solid #22d4fd;
  border-radius: 8%;
  padding: 35px;
  margin-bottom: 20px;
}
.faculdade {
  color: #22d4fd;
}
.bloco_crf_p {
  border: 5px solid #22d4fd;
  border-radius: 8%;
  padding: 15px;
  text-align: center;
  font-family: "Roboto", serif;
  font-weight: 500;
}
.link_crf_ativo {
  text-decoration: none;
  color: #f6f6f6;
}
.bloco_crf_p:hover {
  background-color: #272727;
}
.Profissao {
  color: #22d4fd;
}

.bloco_experiencia {
  flex: 2;
  border: 5px solid #22d4fd;
  border-radius: 8%;
  padding: 20px;
  text-align: center;
}
.titulo,
.titulo_exp {
  font-size: 50px;
  font-family: "Roboto", serif;
  font-weight: 600;
  text-align: center;
}

.titulo_f,
.titulo_2 {
  color: #22d4fd;
}
.P-form,
.p-trajeto {
  font-size: 20px;
  font-family: "Roboto", serif;
  font-weight: 500;
  text-align: justify;
  padding: 20px;
}

@media (max-width: 768px) {
  .bloco_container {
    flex-direction: column;
  }
}
